.container{
    margin-bottom: 40px;
}
.back-color{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.slider-title{
    font-size: 2.8rem;
}
.cat-all{
    padding:10px 30px;
    border-radius: 10px;
    box-shadow: 0px 1px 25px -14px #f2d5d2;
}
.cat-all > img{
    max-width: 120px;
}
.cat-all > h2{
    font-size: 2.7rem;
}
.cat1{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.cat2{
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}
.cat3{
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.card {
    border: none;
    border-radius: 10px !important;
    box-shadow: 5px 5px 10px lightgray;
    padding: 15px;

}

.subcribe{
    height: 300px;
}
.subcribe p{
    color: gray;
}
footer{
    text-align: center;
}
/* Part of css responsive */
/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .cat-all{
        margin-bottom: 20px;
    }
    .card-group{
        display: flex;
        flex-direction: column;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .cat-all img{
        max-width: 90px;
        padding:0 15px;
    }
    .cat-all h2{
        font-size: 2rem;
    }
    .buy-now-btn{
        padding: 8px 20px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { ... }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) { ... }

}